{% extends 'base.html' %}
{% block content %}
<div class="col-6">
<form enctype="multipart/form-data" action="" method="POST" class="p-3 shadow">
  {% csrf_token %}

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="Enter the name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" id="description" placeholder="Enter the description">
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="date" name="year" class="form-control" id="year" placeholder="enter the year">
  </div>
  <div class="form-group">
    <label for="img">Img</label>
    <input type="file" name="img" class="form-control" id="img" placeholder="enter the image">
  </div>

    <input type="submit">
</form>
  </div>
    <div class="row">
    <div class="col-6">

       {% for i in task1 %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p><b>{{i.description}}</b></p>
        <p><b>{{i.year}}</b></p>
      <p><b><img src="{{i.img.url}}" width="450" height="450"></b></p>
        <a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
        <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>

    </div>
  </div>
  </br>
     {% endfor %}
  </div>
</div>
{% endblock %}